<turbo-frame id="current-chat">
  <div id="<%= dom_id(chat || Chat.new) %>" class="container-fluid vh-75">
   
  </div>

  <%= form_with(model: chat || Chat.new, local: true) do |form| %>
    <div class="input-group mb-3">
      <!-- Debug -->

      <%= form.text_field :message, placeholder: 'Send a message', class: 'form-control', style: "border: 1px solid blue;" %>
      <button class="btn btn-outline-secondary" type="submit">
        Send
      </button>
    </div>
  <% end %>
</turbo-frame>
