<h1>Editing chat</h1>

<%= form_with(model: @chat, local: true) do |form| %>
  <div class="field">
    <%= form.label :content %>
    <%= form.text_area :content %>
  </div>

  <div class="actions">
    <%= form.submit "Update Chat" %>
  </div>
<% end %>
