<%# chats/show.html.erb %>
<h1>Chat Details</h1>

<ul class="list-group">
  <%= render partial: "chats/chat", locals: { chat: @chat } %>
</ul>


<div id="chat-messages">
  <% messages = JSON.parse(@chat.history)["messages"] rescue [] %>
  <% messages.each do |message| %>
    <p><%= message["text"] %> (<%= message["timestamp"] %>)</p>
  <% end %>
</div>
